<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #3BACDC;">Droguería Santy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-text" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="#" style="color: #000000;">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventario" style="color: #000000;">Inventario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notificaciones" style="color: #3BACDC;">Notificaciones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="vh-100 d-flex justify-content-center align-items-center">
  <img src="./assets/logos/logods.png" alt="img" class="img-fluid">
</section>

