<head>
    <!-- Otras etiquetas head -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" style="color: #3BACDC;">Droguería Santy</a>
    <div class="navbar-text" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/inicio" style="color: #000000;">Inicio</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/inventario" style="color: #000000;">Inventario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/notificaciones" style="color: #3BACDC;">Notificaciones</a>
        </li>
        </ul>
    </div>
    </div>
</nav>

<div class="container mt-3 justify-content-center align-items-center border-bottom">
    <div class="row ">
        <div class="col">
            <h3>Notificaciones</h3>
        </div>
    </div>
</div>


<div class="container d-flex align-items-center justify-content-center mt-4">
    <div class="row">
      
        <div class="col-12">
            <p>
              <i class="fas fa-info-circle"></i> El producto REDOXON vence en 15 días.
            </p>
          </div>
    </div>
  
</div>